body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000; /* Black background for contrast */
}

#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.title{
    height: 110px;
    display: flex;
    width: 350px;
    top: 70px;
    font-size: 45px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}


#quote-container {
    height: 80px;
    display: flex;
    max-width: 600px; /* Set maximum width */
    width: 100%;
    word-wrap: break-word;
    bottom: 70px;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: typing 1s steps(30, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.moon{
    width:190px;
    height: 190px;
    background: 
            url(../images/full\ moon.jpg);
    background-size:auto 100%;
    border-radius: 30%;
}

.moon{
    background: 
            url(../images/full\ moon.jpg) 0 0;
    background-size:auto 100%;
    width: 190px;
    background-blend-mode: multiply;
    mask-size: auto 100%;
    transition:.7s;
    position: absolute;
}
.moon:hover{
    background: 
            url(../images/moon-phases-2.jpg) -950px 0;
    background-size:auto 100%;
    width: 190px;
    background-blend-mode: multiply;
    mask-size: auto 100%;
}

